# Emacs/ELPA/etc.

auto-save/
auto-save-list/
backups/
elpa/
var/
etc/
org-persist/
straight/
transient/
tutorial/
url/
games/
pdf/
*.pdf
.vscode/
eln-cache/

ielm-history.eld
*.elc
*~
\#*\#
.\#*


# Compiled
*.elc

# Packaging
.cask
elpaca/*

# Personal files
custom.el
ido.last
.mc-lists.el
.yas*
auto-save-list
bookmarks
move-line-region.el
ac-comphist.dat
recentf*
tramp
eshell
org-clock-save.el

url/*
elpy/*
semanticdb/*
request/*
srecode-map.el
.org-id-locations

package-quickstart.el
image-dired/
newsticker/


# OS
.DS_Store

zotero-library.bib
context/
history
network-security.data

# Copilot files
.cache/copilot/